%section.people
  %header
    %h2 People I Follow

  %table.table
    %thead
      %tr
        %th(width="30%")
        %th(width="20%") Videos in Queue
        %th(width="20%") Followers
        %th(width="30%") Unfollow
    %tbody
      - @followships.each do |followship|
        %tr
          %td
            = link_to followship.follower do
              = image_tag followship.follower.gravatar_image
            = link_to followship.follower.name, followship.follower
          %td.extra-padding= followship.follower.queue_items.count
          %td.extra-padding= followship.follower.followers.count
          %td.extra-padding
            = link_to followship, method: :delete, 'data-confirm' => "Are you sure you want to stop following #{followship.follower.name}?" do
              %i.glyphicon.glyphicon-remove
