%section.people
  %header
    %h2 People I Follow

  %table.table
    %thead
      %tr
        %th(width="30%")
        %th(width="20%") Videos in Queue
        %th(width="20%") Followers
        %th(width="30%") Unfollow
    %tbody
      - @relationships.each do |relationship|
        %tr
          %td
            = link_to relationship.leader do
              = image_tag relationship.leader.gravatar_image
            = link_to relationship.leader.name, relationship.leader
          %td.extra-padding= relationship.leader.queue_items.count
          %td.extra-padding= relationship.leader.followers.count
          %td.extra-padding
            = link_to relationship, method: :delete, 'data-confirm' => "Are you sure you want to stop following #{relationship.leader.name}?" do
              %i.glyphicon.glyphicon-remove
