- content_for :head do
  = javascript_include_tag "https://js.stripe.com/v2/"
  = javascript_include_tag "payments.js"
  :javascript
    Stripe.setPublishableKey('#{Rails.configuration.stripe[:publishable_key]}');

%section.register.container
  .row
    .col-sm-10.col-sm-offset-1
      = bootstrap_form_for @user, layout: :horizontal, url: register_path, control_col: 'col-sm-6', html: { id: 'payment-form' } do |f|
        - if @invitation
          = hidden_field_tag :invitation_token, @invitation.token

        %header
          %h1 Register
        %fieldset
          = f.email_field :email, label: 'Email Address'
          = f.password_field :password
          = f.text_field :name, label: 'Full Name'

        %fieldset.credit_card

          .form-group
            = label_tag :credit_card_number, 'Credit Card Number', class: 'control-label col-sm-2'
            .col-sm-6
              = text_field_tag :credit_card_number, nil, class: 'form-control', name: nil, data: { stripe: 'number' }

          .form-group
            = label_tag :security_code, 'Security Code', class: 'control-label col-sm-2'
            .col-sm-6
              = text_field_tag :security_code, nil, class: 'form-control', name: nil, data: { stripe: 'cvc' }

          .form-group
            = label_tag :expiration, 'Expiration', class: 'control-label col-sm-2'
            .col-sm-3
              = select_month(Date.today, { add_month_numbers: true },  class: 'form-control', name: nil, data: { stripe: 'exp-month' } )
            .col-sm-2
              = select_year(Date.today.year, { start_year: Date.today.year, end_year: Date.today.year + 4 }, class: 'form-control', name: nil, data: { stripe: 'exp-year' } )

        %fieldset.actions.control-group.col-sm-offset-2
          .controls
            = submit_tag 'Sign Up', class: 'btn btn-default'

        %fieldset.actions.control-group.col-sm-offset-2
          .payment-errors
